<h1>All posts</h1>
<div class="new-post">
  <%= render "_form.html", changeset: @conn, conn: @conn %>
</div>

<hr />

<%= for post <- @posts do %>
  <article class="post">
    <%= post.user.first_name %>
    <br />
    <p>
      <%= post.content %>
    </p>
    <span class="post-links">
      <%= post_links(@conn, post, @current_user_id) %>
    </span>
  </article>
<hr />
<% end %>
