<h1>All posts</h1>
<div class="new-post">
  <%= render "_form.html", changeset: @changeset, conn: @conn %>
</div>

<hr />

<%= for post <- @posts do %>
  <article class="post">
    <%= post.user.first_name %>
    <br />
    <p>
      <%= post.content %>
    </p>
    <span class="post-links">
      <%= post_links(@conn, post, @current_user.id) %>
    </span>
    <%= like_button(@conn, post, @current_user.id) %>
  </article>
<hr />
<% end %>
