<div class="post-index">
  <h1>All posts</h1>

  <%= render FacebookClone.SharedView, "_search_form.html",
    search: @search, conn: @conn, path: post_path(@conn, :index) %>

  <div class="new-post">
    <%= link "New post", to: "#", class: "show-post-form" %>
    <%= render "_form.html", changeset: @changeset, conn: @conn %>
  </div>

  <hr />

  <%= for post <- @posts do %>
    <%= render "_post.html", post: post, conn: @conn, current_user: @current_user %>
  <% end %>
</div>
