<div class="photo-container">
  <img src="<%= photo_path(@photo) %>" />
  <div class="description">
    <%= @photo.description %>
    <div class="links">
      <%= edit_link(@conn, @photo, @current_user) %>
      <%= delete_link(@conn, @photo, @current_user) %>
    </div>
  </div>
</div>
