<h1><%= full_name(@user) %>'s photos</h1>

<%= if @user.id == @current_user.id, do: new_photo_link(@conn, @user) %>

<div class="photos">
  <%= for photo <- @photos do %>
    <%= render "_photo.html", photo: photo, conn: @conn, current_user: @current_user %>
  <% end %>
</div>
