<h1><%= full_name(@user) %>'s photos</h1>

<%= if @user.id == @current_user.id, do: new_photo_link(@conn, @user) %>

<div class="photos">
  <%= for photo <- @photos do %>
    <div class="photo-container">
      <img src="<%= photo_path(photo) %>" />
    </div>
  <% end %>
</div>
