<%= form_for @conn, user_path(@conn, :index), [as: :search, method: :get], fn f -> %>
  <%= text_input f, :expression %>
  <%= submit "Search", class: "btn btn-primary" %>
<% end %>

<div class="current-search">
  <%= if @search do %>
    Searching for: <%= @search %>
    <%= link "x", to: user_path(@conn, :index) %>
  <% end %>
</div>
