<h1>All users</h1>

<ul class="user-list">
  <%= for user <- @users do %>
    <div class="user">
      <li><%= link full_name(user), to: user_path(@conn, :show, user) %></li>
      <%= invite_button(@conn, user, @current_user) %>
    </div>
  <% end %>
</ul>
