<div class="user-profile">
  <h1><%= full_name(@user) %></h1>

  <ul class="user-info">
    <li><span>City:</span> <%= @user.city %></li>
    <li><span>Gender:</span> <%= gender(@user) %></li>
    <li><span>Birthday:</span> <%= @user.birthday %></li>
  </ul>

  <div class="photos">
    <%= for photo <- @user.photos do %>
      <%= render FacebookClone.PhotoView, "_photo.html",
          photo: photo, conn: @conn, current_user: @current_user %>
    <% end %>
  </div>
</div>
