<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Facebook Clone</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  </head>

  <body>
    <div id="app" role="main">
      <header class="app-header">
        <ul class="nav nav-pills pull-right">
          <%= if logged_in?(@conn) do %>
            <li>
              <%= link "Edit profile", to: user_path(@conn, :edit, current_user(@conn)) %>
            </li>
            <li>
              <%= link "Logout", to: session_path(@conn, :delete), method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link "Register", to: registration_path(@conn, :new) %>
            </li>
            <li>
              <%= link "Login", to: session_path(@conn, :new) %>
            </li>
          <% end %>
        </ul>
        <h1>Facebook Clone</h1>
      </div>

      <div id="content-area">
        <section class="sidebar">
          <ul>
            <li>
              <%= link "Messages", to: conversation_path(@conn, :index) %>
            </li>
            <li>
              <%= link "Friends", to: friendship_path(@conn, :index) %>
            </li>
            <li>
              <%= link "Users", to: user_path(@conn, :index) %>
            </li>
            <li>
              <%= link "Posts", to: post_path(@conn, :index) %>
            </li>
            <li>
              <%= if @current_user, do: link("Photos", to: user_photo_path(@conn, :index, @current_user)) %>
            </li>
          </ul>
        </section>

        <div class="main">
          <div class="container">
            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

            <%= render @view_module, @view_template, assigns %>
          </div>

        </div>

      </div>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
