<%= link "New group", to: group_path(@conn, :new) %>

<h1>All groups</h1>

<ul class="group-list">
  <%= for group <- @groups do %>
    <li>
      <span class="name"><%= link group.name, to: group_path(@conn, :show, group) %></span>
      <p class="description"><%= group.description %></p>
      <div class="links">
        <%= edit_link(@conn, group) %>
        <%= delete_link(@conn, group) %>
      </div>

    </li>
  <% end %>
</ul>
