<section class="invitations">
  <%= if length(@invited_by) > 0 do %>
    <h1>Received invitations</h1>
  <% end %>

  <%= for invited_by <- @invited_by do %>
    <li><%= full_name(invited_by) %></li>
  <% end %>
</section>

<h1>Your friends</h1>

<%= for friend <- @friends do %>
  <li><%= full_name(friend) %></li>
<% end %>
