.group-list {
  list-style: none;
  padding-left: 0;

  li {
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    position: relative;

    &:last-child {
      border-bottom: none;
    }

    .description {
      width: 80%;
    }

    .links {
      position: absolute;
      top: 20px;
      right: 0;

      a {
        margin-left: 5px;
      }

      form {
        display: inline;
      }
    }
  }

}

.group {
  .description {
    margin-bottom: 20px;
  }

  .posts {
    width: 70%;
    float: left;
    ul {
      list-style: none;
      padding-left: 0;

      li {
        position: relative;

        .post-links {
          position: absolute;
          top: 10px;
          right: 0;

          a {
            margin-right: 10px;
          }
        }
      }
    }

    .post-form {
      textarea {
        width: 450px;
        height: 100px;
      }
    }
  }

  .members {
    width: 25%;
    float: right;

    ul {
      list-style: none;
      padding-left: 0;
    }
  }
}
