.user-list {
  list-style: none;
  padding-left: 0;
  margin-top: 2em;

  .user {
    padding: 1em 0;
    position: relative;

    border-bottom: 1px solid #ccc;

    &:first-child {
      border-top: 1px solid #ccc;
    }

    .invite-user, .friend-label {
      position: absolute;
      top: 5px;
      right: 0;
    }

    .friend-label {
      top: 14px;
    }
  }
}

.user-profile {
  .user-info {
    list-style: none;
    padding-left: 0;

    span {
      font-weight: bold;
    }
  }

  .user-photo {
    width: 150px;
    height: 150px;
    float: left;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;

    img {
      height: 100%;
      min-width: 100%;
    }
  }
}
